basket2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://www.nba.com/players/ws" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.nba.com/players/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="forward" type="xs:string" />
        <xs:element name="guard" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>