basket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/TR/html4/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="https://www.nba.com/players/raptors" />
  <xs:import namespace="https://www.nba.com/players/ws" />
  <xs:element name="sports">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="basketball">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="team" type="xs:string" />
              <xs:element name="win" type="xs:unsignedByte" />
              <xs:element name="lose" type="xs:unsignedByte" />
              <xs:element name="gb" type="xs:unsignedByte" />
              <xs:element minOccurs="0" xmlns:q1="https://www.nba.com/players/ws" ref="q1:players" />
              <xs:element minOccurs="0" xmlns:q2="https://www.nba.com/players/raptors" ref="q2:players" />
            </xs:sequence>
            <xs:attribute name="conference" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>