basket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sports">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="basketball">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="team" type="xs:string" />
              <xs:element name="win" type="xs:unsignedByte" />
              <xs:element name="lose" type="xs:unsignedByte" />
              <xs:element name="gb" type="xs:unsignedByte" />
              <xs:element name="players">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="forward" type="xs:string" />
                    <xs:element name="guard" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="conference" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>